@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Langar&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto Slab', serif;

}

html body {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    width: 100%;
    background-color: rgb(255, 251, 251);
}


/* Start Header Section */

#header .header-img {
    width:100%;
    height:60vh;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

.bg-custom {
    padding: 0;
    background-color: rgba(0, 0, 0, 0.746) !important;
}


.bg-custom .navbar-brand{
    padding-left: 10%;
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(83, 221, 129);
    font-family: 'Kaushan Script', cursive ;
}

.bg-custom .navbar-brand:hover{
    color: rgb(140, 245, 175);
}

.bg-custom .navbar-toggler {
    margin-right: 5%;
    border: 1px solid white;
}

.bg-custom .navbar-nav .nav-link {
    color: white;
    font-size: 1.2rem;
}


.bg-custom .navbar-nav .nav-link:hover {
    transition: 0.2s;
    color: rgb(117, 117, 117);

}

/* End head Section */


/* Posts Section */

#posts {
    width: 100%;
    text-align: center;
    background :linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(177, 177, 177) 50%, rgb(255, 255, 255) 100%);
}


#posts h1 {
    padding: 0.5rem;
    font-family: 'Roboto Slab', serif;

}

#posts .select-category {
    width: 30%;
}

#posts .new-old {
    width: 20%;
}

#posts .card {
    height: 100%;

}

#posts .card:hover {
    transition: 0.4s;
    box-shadow: 5px 5px 5px 3px #888888;

}

#posts .card-title a{
    text-decoration: none;
    font-weight: 600;
}

#posts .date {
    position: absolute;
    top: 96%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#posts .see-more {
    padding-bottom: 1rem;
}



#posts .see-more button {
    padding: 0.5rem;
    transition: 0.3s;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    background-color: rgba(2, 79, 246, 0.86);

}

#posts .see-more button:hover {
    box-shadow: 3px 3px 3px 3px #888888;
    background-color: rgba(2, 40, 124, 0.863);

}
#posts .see-less {
    padding-bottom: 1rem;
}
#posts .see-less button {
    transition: 0.3s;
    padding: 0.5rem;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    background-color: rgb(11, 93, 48);

}

#posts .see-less button:hover {
    box-shadow: 3px 3px 3px 3px #888888;
    background-color: rgb(29, 57, 1);

}
/* End Post Section */


/* Galery Section */

#galery {
    width: 100%;
    margin: auto;
    background :linear-gradient(90deg, rgb(37, 192, 250) 0%, rgb(133, 178, 255) 35%, rgb(178, 220, 253) 70%, rgb(41, 100, 252) 100%);

}

#galery .container-fluid {
    width: 80%;
    padding: 60px 0;
}

#galery .container-fluid h1 {
    padding: 2rem;
    font-family: 'Roboto Slab', serif;

}

.thumbnail {
    padding: 0 0 15px 0;
    position: relative;
}

.thumbnail img {
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
    transition: .3s ease-in-out;
}


.thumbnail a:hover {
    opacity: 0.6;
    cursor: pointer;
}
.thumbnail img:hover {

    transform: scale(1.05);
}

.thumbnail i {
    font-size: 2.5rem;
    opacity: 1;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* End Section Galery */

/* Section Contact */
#contact {
    padding-bottom: 50px;
}
.contact-title {
    padding: 10px;
}

.contact-icons {
    display: flex;
    justify-content: center;
}

.contact-icons li {
    padding-right: 5px;
}

.contact-icons li:hover {
    opacity: 0.6;
}


.contact-button {
    margin: auto;
    border-radius: 20px;
    padding: 0.8rem;
    color: white;
    text-decoration: none;
    background-color: rgba(2, 79, 246, 0.863);

}

.contact-button:hover {
    box-shadow: 3px 3px 3px 3px #888888;
    background-color: rgba(2, 40, 124, 0.863);
    cursor: pointer;

}

.fab {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    text-shadow: 3px 3px 3px black;
}


.fas {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa-facebook-square {
    background: #3B5998;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #e74545;
    color: white;
}

.fa-phone-volume {
    background: #57983b;
    color: black;
    font-size: 0.9rem;

}

.post-image {
    object-fit: contain;
    width: 100%;
    max-height: 500px;
    padding: 0;
}

/* End Section Contact */

#footer {

    width: 100%;
    text-align: center;
    background-image: linear-gradient(to right, rgb(0, 110, 255) , rgb(0, 162, 255));
    padding: 20px;
}


@media screen and (max-width: 920px) {
    .bg-custom {
        background-color: rgba(0, 0, 0, 0.877) !important;
    }

    .bg-custom .navbar-brand{
        padding-left: 2%;
        font-size: 1.5rem;
    }

    #posts .select-category {
        width: 60%;
    }

    #posts .new-old {
        width: 40%;
    }
}
